<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light text-capitalize main-font-family">
    <th:block th:include="~{fragments/navigation}"></th:block>
</nav>

<div class="contact main-font-family text-center">
    <div class="container">
        <h2 id="contact">Edit Property</h2>
        <div class="row">
            <div class="col-6">
                <div class="contact-form">
                    <form th:action="@{/properties/edit/{id}(id=${property.id})}" th:method="POST" enctype="multipart/form-data">
                        <input th:field="${property.name}" type="text" name="name" id="name" placeholder="Name">
                        <textarea th:field="${property.description}" name="description" id="description" cols="41" rows="5" placeholder="Description"></textarea>
                        <input th:field="${property.pricePerMonth}" type="number" name="pricePerMonth" id="pricePerMonth" placeholder="Price per month">
<!--                        <input type="file" class="form-control-file" id="imageUrl" name="imageUrl">-->
                        <select style="margin-bottom: 20px;" class="form-control" id="" name="category">
                            <option th:text="${property.category}" th:value="${property.category}" selected="">Select Category</option>
                            <option th:each="c : ${categories}" th:value="${c}" th:text="${c}">First Artist</option>
                        </select>
                        <input type="submit" value="Edit">
                    </form>
                </div>
            </div>
            <div class="col-6">
                <h2 class="text-right">Has there been a change? Edit it now!</h2>
                <img src="/imgs/shape.png">
            </div>
        </div>
    </div>
    <div></div>
</div>

<footer class="noto-font-family">
    <th:block th:include="~{fragments/footer}"/>
</footer>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<!--<script>-->
<!--    fetch('/categories/fetch')-->
<!--        .then((response) => response.json())-->
<!--        .then((json) => {-->
<!--            json.forEach((category) => $('#add-product-categories')-->
<!--                .append(`<option value="${category.id}">${category.name}</option>`));-->
<!--        })-->
<!--        .catch((err) => console.log(err));-->
<!--</script>-->

</body>
</html>