<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light text-capitalize main-font-family">
    <th:block th:include="~{fragments/navigation}"></th:block>
</nav>
<main class="mt-3">
    <br>
    <br>
    <br>
    <br>
    <h1 class="text-center text-dark">All Reservations</h1>
    <hr class="hr-2 bg-dark w-75">
    <table class="table table-hover w-75 mx-auto">
        <thead>
        <tr class="row mx-auto">
            <th class="col-md-1 text-center">#</th>
            <th class="col-md-2 text-center">First Name</th>
            <th class="col-md-2 text-center">Last Name</th>
            <th class="col-md-2 text-center">Rent From</th>
            <th class="col-md-2 text-center">Total Price</th>
            <th class="col-md-3 text-center">Property Name</th>
        </tr>
        </thead>
        <tbody>

        <th:block th:each="reservation, iter : ${reservations}">
            <tr class="row mx-auto">
                <th class="col-md-1 text-center" th:text="${iter.index + 1}"></th>
                <!--                <td class="col-md-2"><div class="text-center">-->
                <!--                    <img th:src="${property.imageUrl}" width="40" height="40" alt="Property"></div></td>-->
                <td class="col-md-2 text-center" th:text="${reservation.firstName}"></td>
                <td class="col-md-2 text-center" th:text="${reservation.lastName}"></td>
                <td class="col-md-2 text-center" th:text="${reservation.rentFrom}">
                <td class="col-md-2 text-center" th:text="${reservation.totalPrice}">
                <td class="col-md-3 text-center" th:text="${reservation.property}">

<!--                <td class="col-md-3 text-center">-->
<!--                    <a th:href="@{/reservations/details/{id}(id=${reservation.id})}" class="btn btn-secondary font-weight-bold text-white">Details</a>-->
<!--                    <a th:href="@{/reservations/edit/{id}(id=${reservation.id})}" class="btn btn-success font-weight-bold text-white">Edit</a>-->
<!--                    <a th:href="@{/reservations/delete/{id}(id=${reservation.id})}" class="btn btn-danger font-weight-bold text-white">Delete</a>-->
<!--                </td>-->
            </tr>
        </th:block>

        </tbody>
    </table>
    <hr class="hr-2 bg-dark">
</main>
<footer class="noto-font-family">
    <th:block th:include="~{fragments/footer}"/>
</footer>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>