<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light text-capitalize main-font-family">
    <th:block th:include="~{fragments/navigation}"></th:block>
</nav>

<div class="contact main-font-family text-center">
    <div class="container">
        <h2 id="contact">Register</h2>
        <div class="row">
            <div class="col-6">
                <div class="contact-form">
                    <form th:object="${userRegisterBindingModel}" th:action="@{/users/register}" th:method="POST">

                        <small th:each="e : ${#fields.errors('username')}" th:text="${e}" id="nameError" class="form-text bg-warning rounded"></small>
                        <input th:field="*{username}" type="text" name="username" placeholder="Username">

                        <small th:each="e : ${#fields.errors('email')}" th:text="${e}" id="nameError" class="form-text bg-warning rounded"></small>
                        <input th:field="*{email}" type="email" name="email" placeholder="Email">

                        <small th:each="e : ${#fields.errors('password')}" th:text="${e}" id="nameError" class="form-text bg-warning rounded"></small>
                        <input type="password" name="password" placeholder="Password">

                        <small th:if="${passwordNotMatch}" id="nameError" class="form-text bg-warning rounded">Password did not match</small>
                        <small th:each="e : ${#fields.errors('confirmPassword')}" th:text="${e}" id="nameError" class="form-text bg-warning rounded"></small>
                        <input type="password" name="confirmPassword" placeholder="Confirm password">

                        <input type="submit" value="submit">
                    </form>
                </div>
            </div>
            <div class="col-6">
                <h2 class="text-right">Join our big family! You are in the right place!</h2>
                <img src="/imgs/shape.png">
            </div>
        </div>
    </div>
    <div></div>
</div>

<footer class="noto-font-family">
    <th:block th:include="~{fragments/footer}"/>
</footer>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>