<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:include="~{fragments/head}"></th:block>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light text-capitalize main-font-family">
            <th:block th:include="~{fragments/navigation}"></th:block>
        </nav>

        <header id="home">
            <div class="small-container">
<!--                <form class="main-font-family text-center">-->
<!--                    <input type="search">-->
<!--                    <i class="fas fa-search"></i>-->
<!--                    <input type="submit" value="Search">-->
<!--                </form>-->
                <div class="row">
                    <div class="col-lg-4 col-12 lobster-font-family d-flex align-items-center">
                        <h3>Find deals on homes, accommodations and much more...
                            From cosy country homes to funky city flats</h3>
                        <button><a href="#">About hotel</a></button>
                    </div>
                </div>
                <div class="h-slider roboto-font-family welcome d-flex align-items-center justify-content-center">
                    <h1 class="text-capitalize">Welcome to <br><span style="background-color: #dee2e663;">Your place</span></h1>
                    <div id="headerslider" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item carousel-three active"></div>
                        <div class="carousel-item carousel-two"></div>
                        <div class="carousel-item carousel-one"></div>
                      </div>
                      <a class="carousel-control-prev" href="#headerslider" role="button" data-slide="prev">
                        <i class="fas fa-angle-double-left"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#headerslider" role="button" data-slide="next">
                        <i class="fas fa-angle-double-right"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                </div>
            </div>
            <div class="st-rec"></div>
            <div class="rd-rec"></div>
        </header>


<!--        <div class="gallery lobster-font-family" id="blog">-->
<!--            <div class="container">-->
<!--                <h2 class="text-calitalize text-center">Our gallery</h2>-->
<!--                <div class="row">-->
<!--                    <div class="col-lg-4 col-md-6 col-12">-->
<!--                        <div class="pic-one"><h4>Relaxed swimming</h4></div>-->
<!--                        <div class="pic-two"><h4>Spacious Accommodtion</h4></div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-md-6 col-12">-->
<!--                        <div class="pic-three active"><h4>Yoga Wellness</h4></div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-md-6 col-12">-->
<!--                        <div class="pic-four"><h4>Romantic dinner</h4></div>-->
<!--                        <div class="pic-five"><h4>Apa & Wellness</h4></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->


<!--        <div class="slider main-font-family">-->
<!--            <h2 class="text-center text-capitalize main-font-family">what our clients say</h2>-->
<!--          <div id="slideToNext" class="carousel slide" data-ride="carousel">-->
<!--            <ol class="carousel-indicators">-->
<!--              <li data-target="#slideToNext" data-slide-to="0" class="active"></li>-->
<!--              <li data-target="#slideToNext" data-slide-to="1"></li>-->
<!--              <li data-target="#slideToNext" data-slide-to="2"></li>-->
<!--            </ol>-->
<!--            <div class="carousel-inner">-->
<!--              <div class="carousel-item active">-->
<!--                <div class="carousel-caption d-block">-->
<!--                    <img src="imgs/pic7.jpg">-->
<!--                  <h5>jone due</h5>-->
<!--                  <p>It is a long established fact that a reader wil-->
<!--l be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="carousel-item">-->
<!--                <div class="carousel-caption d-block">-->
<!--                    <img src="imgs/pic7.jpg">-->
<!--                  <h5>jone due</h5>-->
<!--                  <p>It is a long established fact that a reader wil-->
<!--l be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="carousel-item">-->
<!--                <div class="carousel-caption d-block">-->
<!--                    <img src="imgs/pic7.jpg">-->
<!--                  <h5>jone due</h5>-->
<!--                  <p>It is a long established fact that a reader wil-->
<!--l be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

        <br>
        <br>


        <footer class="noto-font-family">
            <th:block th:include="~{fragments/footer}"/>
        </footer>

        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script>
            $(function () {

                'use strict';

                var winH = $(window).height();

                $('header').height(winH);

                // $('.navbar ul.navbar-nav li a').on('click', function (e) {
                //
                //     var getAttr = $(this).attr('href');
                //
                //     e.preventDefault();
                //     $('html').animate({scrollTop: $(getAttr).offset().top}, 1000);
                // });
            });
        </script>
    </body>
</html>